<div class="container">
    <img src="~/images/contato.png" alt="Fale conosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span>
                <img src="~/images/envelope-icon24.png" style="width:24px; height:24px"/>
                <h5><email endereco="thiersfb@yahoo.com.br" conteudo="Enviar um e-mail"></email></h5>
            </span>
            <br />
            <span>
                <img src="~/images/phone-app-icon.png" style="width:24px; height:24px"/>
                <h5>(19) 98831-2067</h5>
            </span>
            <br />
            <span>
                <img src="~/images/Home-iconred.png" style="width:24px; height:24px"/>
                <h5>Rua Rio Paraná, 290, Barueri-SP </h5>
            </span>
        </p>
    </div>
</div>